@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');

:root {
  --rdp-background-color: transparent;
}

.dark .rdp {
  --rdp-cell-size: 40px;
  --rdp-accent-color: #ff8a28;
  --rdp-background-color: #0d1b4d;
  --rdp-accent-color-dark: #e67213;
  --rdp-text-color: #f8fafe;
}

.light .rdp {
  --rdp-accent-color: #ff8a28;
  --rdp-accent-color-dark: #e67213;
  --rdp-text-color: #0d1b4d;
}
