VITE_CLIENT_APP_URL=https://fastshipindia-1.onrender.com
VITE_AUTH_APP_URL=https://fastshipindia-1.onrender.com/#/login
VITE_ADMIN_APP_URL=https://fastshipadmin.onrender.com
VITE_ADMIN_AUTH_URL=https://fastshipadmin.onrender.com/#/auth/signin
VITE_API_URL=https://fastshipindia.onrender.com/api
